<div class="center jumbotron">
  <h1>Bienvenido a Nimo App</h1>
  
  <h2>
    Google Store
    <a href="https://play.google.com/store">Google play app</a>
  </h2>
  <h2>
    Apple Store
    <a href="https://apple.store/">Apple Store app</a>
  </h2>
  
  <%#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>  
</div>