<html>

<head></head>

<p>

<center><h2>T&eacute;rminos y Condiciones de Uso</h2></center>

<ul>

  <li type="square"> Los t&eacute;rminos y condiciones de uso se aplican a todas las marcas y a todos los productos y los servicios de Nimo.</li>

  <li type="square"> Nimo almacenar&aacute; todos los contenidos, recursos y datos generados por los usuarios en sus servidores.</li>

  <li type="square"> Los usuarios tienen total responsabilidad sobre los grupos que crean, sus publicaciones e interacciones en Nimo.

  <li type="square"> La informaci&oacute;n que Nimo obtiene de los usuarios y los espacios donde interact&uacute;an ser&aacute;n utilizados con fines publicitarios.

  <li type="square"> La informaci&oacute;n publicada por los usuarios de  Nimo podr&aacute; ser buscada, vista, encontrada y almacenada por otros usuarios.

  <li type="square"> Los usuarios podr&aacute;n crear y administrar cualquier tipo de grupo (abierto, cerrado y privado).

  <li type="square"> Los usuarios podr&aacute;n crear un perfil de usuario y un n&uacute;mero ilimitado de alias, con los que podr&aacuten interactuar en grupos a los que pertenezcan y/o hayan creado.

  <li type="square"> Recopilamos informaci&oacute;n acerca de las computadoras, los tel&eacute;fonos u otros dispositivos en los que instalas Nimo o desde los que accedes a ellos, as&iacute; como los datos generados por los mismos.

  <li type="square"> Obtenemos informaci&oacute;n de idioma, zona horaria, n&uacute;mero de celular y direcci&oacute;n IP, datos del sistema operativo, la versi&oacute;n de hardware, la configuraci&oacute;n del dispositivo, los nombres y tipos de software y de archivos e identificadores de dispositivos.

  <li type="square"> Los usuarios recibir&aacute;n actualizaciones de la aplicaci&oacute;n cada vez que Nimo decida pertinente hacerlo.

</ul>

</p>

<body></body>

</html>