<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Luffi">
	<META NAME="CREATED" CONTENT="20170311;153000000000000">
	<META NAME="CHANGEDBY" CONTENT="German Mercado">
	<META NAME="CHANGED" CONTENT="20170605;214600000000000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="Company" CONTENT="Luffi">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.98in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		P.western { so-language: en-US }
	-->
	</STYLE>
</HEAD>
<BODY LANG="es-BO" DIR="LTR">
<P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO"><U><B>TÉRMINOS Y CONDICIONES DE USO</B></U></SPAN></P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><A NAME="_GoBack"></A>
<SPAN LANG="es-BO">Los términos y condiciones que se detallan a
continuación, se enmarcan dentro de los lineamientos legales del
país de origen de Nimo teniendo ésta, la exclusividad en la
implementación de políticas de uso de la aplicación conforme a la
versión vigente en cada momento. </SPAN>
</P>
<OL>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Nimo
	no permitirá ningún tipo de contenido ofensivo, que incite a la
	violencia o vulnere la sana convivencia entre los usuarios dentro de
	las comunidades en las que estos participen, siempre estará en
	defensa de los derechos humanos e incentivará el respeto a
	pensamientos e ideologías.    </SPAN>
	</P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">El
	usuario es responsable de todos los pagos y/o cargos en los que se
	incurra a momento de descargar y/o subir las publicaciones
	destinadas a promocionarse y publicitarse en Nimo.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Todos
	los contenidos de Nimo estarán escritos en idioma castellano
	(español), inglés y portugués, pudiendo añadirse otros idiomas
	conforme se realicen las actualizaciones pertinentes de la
	aplicación y los idiomas a los que pueda traducir automáticamente
	el dispositivo virtual o móvil sea de acuerdo al sistema IOS o
	ANDROID.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">El
	usuario está prohibido de desensamblar la aplicación por cualquier
	medio o mecanismo tecnológico, tampoco podrá de modo alguno
	obtener acceso a los códigos o fuentes de la aplicación. No podrán
	copiar en todo o en parte la aplicación ni se realizará el uso
	comercial de ésta previo acuerdo con el propietario y conforme al
	lineamiento jurídico que rige en cuanto a la propiedad intelectual
	del creador y su correspondiente registro en los entes estatales.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Está
	prohibida cualquier forma de disposición a cualquier título de
	Nimo, concretamente no se podrá alquilar, prestar, vender o
	transferir el nombre y contenido de la aplicación a terceros, bajo
	apercibimiento de aplicar los cargos y las acciones legales y
	constitucionales pertinentes conforme a los lineamientos legales del
	país de origen.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Los
	usuarios de Nimo son responsables solidariamente de toda publicación
	que realicen. Se utilizará su información personal y se dispondrá
	de todas las imágenes, videos, audio y cualquier otro archivo que
	los usuarios incluyan en la aplicación únicamente con fines
	publicitarios.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Nimo
	llevará a cabo todos los pasos necesarios para proteger tu
	privacidad e información personal de acuerdo a sus políticas de
	privacidad en el uso de la aplicación.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Nimo
	podrá modificar en cualquier tiempo los términos y condiciones de
	uso de la aplicación sin necesidad de avisar al usuario de dicha
	modificación. En caso de realizarse cualquier modificación, la
	continuidad en el uso de la misma por parte del usuario, dará lugar
	a la tácita aceptación de los cambios y modificaciones que se
	generen quedando sujeto a las nuevas implementaciones en cuanto al
	uso de la aplicación, de lo contrario, el usuario dejara de
	utilizar Nimo bajo su exclusiva responsabilidad futura.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Al
	descargar Nimo el usuario automáticamente reconocerá que poseemos
	la propiedad y todos los derechos establecidos en la Constitución
	Política del Estado del país de origen. El usuario queda
	totalmente prohibido de alterar, destruir, ocultar o suprimir
	cualquier aspecto relacionado con el nombre y propiedad de la
	aplicación, menos con las marcas, artículos y productos
	publicitados en Nimo, bajo apercibimiento de optar por el mecanismo
	legal pertinente a fin de aplicar las sanciones correspondientes.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">Los
	derechos de autoría, producción y/o propiedad intelectual del
	usuario, se encuentran plenamente protegidos y respaldados por las
	leyes del Estado Plurinacional de Bolivia, así como los acuerdos y
	convenios internacionales relacionados con los lineamientos legales
	específicos en las leyes bolivianas, otorgando el usuario su
	consentimiento a la jurisdicción de los organismos y tribunales del
	Estado Plurinacional de Bolivia.</SPAN></P>
	<LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in"><SPAN LANG="es-BO">El
	usuario de Nimo queda sujeto de acuerdo a los parámetros legales
	del Estado Plurinacional de Bolivia al siguiente Contrato de
	Licencia de Usuario Final (CLUF):</SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.14in"><BR><BR>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">1. CONTRATO DE LICENCIA Y GARANTÍA LIMITADA. - El
presente contrato de licencia de usuario final (&quot;CLUF&quot;) y
garantía limitada, constituye un contrato legal entre el usuario y
Nimo respecto del uso de la aplicación y el software pertinente,
incluidos todos sus productos complementarios, componentes,
correcciones, actualizaciones y mejoras, como así también todo
software y programa relacionado y todas las actualizaciones,
versiones modificadas, agregados y copias que se realicen. </SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">2. EFECTO VINCULANTE. - </SPAN><SPAN LANG="es-BO"><U><B>LA
INSTALACIÓN, COPIA O CUALQUIER OTRO TIPO DE USO DE NIMO IMPLICA QUE
EL USUARIO, ACEPTA Y ESTÁ SUJETO A LAS CLÁUSULAS Y CONDICIONES DEL
CONTRATO DE LICENCIA. </B></U></SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">3. DERECHOS DE AUTOR. - El Software es propiedad
de Nimo y se encuentra protegido por la ley de derechos de autor del
Estado Plurinacional de Bolivia y toda legislación y convenios
internacionales sobre derechos de autor. En consecuencia, se
considerará que el Software constituye un material protegido por las
leyes de derechos de autor.</SPAN></P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">4. DERECHOS DE PROPIEDAD Y PROPIEDAD INTELECTUAL.
- El contenido de Nimo como ser  archivos, postales, logotipos,
código fuente, son propiedad exclusiva de Nimo salvo autorización
expresa en contrario. El usuario no podrá distribuir ningún archivo
ni modificar total o parcialmente el contenido de Nimo. El presente
Contrato de licencia no otorga ningún tipo de derecho de propiedad
intelectual sobre el Software y/o el nombre de Nimo.</SPAN></P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">5. TRANSFERENCIA. - Con excepción de lo dispuesto
en contrario en este Contrato de licencia, el usuario no podrá
transferir, alquilar, prestar, copiar, modificar, adaptar, traducir,
sublicenciar o compartir de ningún modo el Software o los
componentes aquí descriptos. </SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">6. ACTUALIZACIONES. - Las actualizaciones del
Software forman parte integral del Software de Nimo sólo podrán
transferirse de conformidad con lo dispuesto en el presente Contrato
de licencia. </SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">7. ALCANCE. - El usuario se compromete a utilizar
el Software con fines personales o comerciales exclusivamente en un
dispositivo virtual. </SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">8. VIGENCIA - La presente licencia mantendrá
plena vigencia hasta su rescisión. En caso de incumplimiento de
alguna cláusula del presente Contrato, Nimo estará facultada para
rescindir la licencia de inmediato. Al producirse la rescisión, el
usuario deberá abstenerse de continuar utilizando las marcas
comerciales en Nimo.</SPAN></P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">9. GARANTÍA. – Nimo garantiza el buen uso de la
aplicación y del Software y se compromete a otorgar al usuario la
publicidad y sociabilización de los productos que se promocionen en
Nimo, proporcionando al usuario las actualizaciones de Nimo en forma
periódica. </SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">10. LIMITACIÓN DE RESPONSABILIDAD. - </SPAN><SPAN LANG="es-BO"><U><B>NIMO
NO SE RESPONSABILIZARÁ DE NINGÚN TIPO DE DAÑO ESPECIAL, INDIRECTO
O EMERGENTE (INCLUIDOS, AUNQUE DE FORMA NO TAXATIVA, LOS PRODUCIDOS
POR LUCRO, AHORRO O ACTIVIDAD COMERCIAL CESANTE O CUALQUIER OTRO TIPO
DE DAÑO PATRIMONIAL) COMO CONSECUENCIA DEL USO O IMPOSIBILIDAD DE
UTILIZAR EL SOFTWARE, O LA PRESTACIÓN O NO DE SERVICIOS O EN CASO DE
QUE NIMO HAYA SIDO NOTIFICADA DE LA POSIBILIDAD DE QUE SE PRODUZCAN
TALES DAÑOS</B></U></SPAN><SPAN LANG="es-BO">. </SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">11. DISPOSICIONES GENERALES. - El presente
Contrato de licencia podrá modificarse únicamente mediante un
documento escrito y firmado por un directivo debidamente autorizado
de Nimo. La nulidad o inexigibilidad total o parcial de una
disposición del presente a través de una sentencia definitiva no
afectará la validez y exigibilidad de las restantes cláusulas.
Incluso de determinarse que una vía de acción no garantiza su fin
esencial, la limitación de responsabilidad y la exención de daños
y perjuicios dispuestos en el presente mantendrán plena vigencia. </SPAN>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN LANG="es-BO">12. LEYES APLICABLES. - El presente Contrato de
licencia se rige por las leyes del Estado Plurinacional de Bolivia
sometiéndose las partes a la jurisdicción del Estado Plurinacional
de Bolivia, así como los acuerdos y convenios internacionales
relacionados con los lineamientos legales específicos en las leyes
bolivianas, otorgando el usuario su consentimiento a la jurisdicción
de los organismos y tribunales del Estado Plurinacional de Bolivia. </SPAN>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.14in"><BR><BR>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<BR><BR>
</P>
</BODY>
</HTML>
