<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/></head>
<body>
<p>
<center><h2>TERMINOS Y CONDICIONES DE USO</h2></center>
<b>NIMO</b>
<p>Los términos y condiciones que se detallan a continuación, se enmarcan dentro de los lineamientos legales del país de origen de Nimo teniendo ésta, la exclusividad en la implementación de políticas de uso de la aplicación conforme a la versión vigente en cada momento.</p>
<ol>
  <li value="1"> El usuario es responsable de todos los pagos y/o cargos en los que se incurra a momento de descargar y/o subir las publicaciones destinadas a promocionarse y publicitarse en Nimo.</li>
  <li value="2"> El usuario está prohibido de desensamblar la aplicación por cualquier medio o mecanismo tecnológico, tampoco podrá de modo alguno, obtener acceso a los códigos o fuentes de la aplicación. No podrán copiar en todo o en parte la aplicación ni se realizará el uso comercial de ésta, previo acuerdo con el propietario y conforme al lineamiento jurídico que rige en cuanto a la propiedad intelectual del creador y su correspondiente registro en los entes estatales.</li>
  <li value="3"> Está prohibida cualquier forma de disposición a cualquier título de (nombre de la app), concretamente no se podrá alquilar, prestar, vender o transferir el nombre y contenido de la aplicación a terceros, bajo apercibimiento de aplicar los cargos y las acciones legales y constitucionales pertinentes conforme a los lineamientos legales del país de origen. </li>
  <li value="4"> Los usuarios de Nimo son responsables solidariamente de toda publicación que realicen. Se utilizara su información personal y se dispondrá de todas las imágenes, videos, música y cualquier otro archivo que los usuarios incluyan en la aplicación únicamente con fines publicitarios. </li>
  <li value="5"> Nimo llevará a cabo todos los pasos necesarios para proteger tu privacidad e información personal de acuerdo a sus políticas de privacidad en el uso de la aplicación. </li>
  <li value="6"> Nimo podrá modificar en cualquier tiempo los términos y condiciones de uso de la aplicación sin necesidad de avisar al usuario de dicha modificación. En caso de realizarse cualquier modificación, la continuidad en el uso de la misma por parte del usuario, dará lugar a la tácita aceptación de los cambios y modificaciones que se generen quedando sujeto a las nuevas implementaciones en cuanto al uso de la aplicación, de lo contrario, el usuario dejará de utilizar Nimo bajo su exclusiva responsabilidad futura. </li>
  <li value="7"> Al descargar Nimo el usuario automáticamente reconocerá que poseemos la propiedad y todos los derechos establecidos en la Constitución Política del Estado del país de origen. El usuario queda totalmente prohibido de alterar, destruir, ocultar o suprimir cualquier aspecto relacionado con el nombre y propiedad de la aplicación, menos con las marcas, artículos y productos publicitados en Nimo, bajo apercibimiento de optar por el mecanismo legal pertinente a fin de aplicar las sanciones correspondientes.</li>
  <li value="8"> Los derechos de autoría, producción y/o propiedad intelectual del usuario, se encuentran plenamente protegidos y respaldados por las leyes del Estado Plurinacional de Bolivia, así como los acuerdos y convenios internacionales relacionados con los lineamientos legales específicos en las leyes bolivianas, otorgando el usuario su consentimiento a la jurisdicción de los organismos y tribunales del Estado Plurinacional de Bolivia. </li>
</ol>
</p>
</body>
</html>